.banner {
  position: relative;
  width: 100%;
  height: 650px; /* Adjust height as needed */
  overflow: hidden;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit:cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7); /* Adjust opacity as needed */
}

.content {
  width: 100%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 1;
}
.header-content {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 1;
}
